.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.page--number {
  // color: #f38e82;
  // font-size: 1.3rem;
  // font-weight: 600;
  // transition: all 0.2s;
  // width: 10rem;
  // margin-left: 10%;
  // margin-top: 90.5rem;
  // position: absolute;
  color: #f38e82;
  width: 10rem;
  border-radius: 10px;
  outline: none;
  font-size: 1.3rem;
  font-weight: 600;
  transition: all 0.2s;
  transform: translate(1.5rem, 0.5rem);
}

.fill-up {
  width: 10px;
}

.pagination {
  display: inline-flex;
  justify-content: space-evenly;
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
